<!-- <app-eu-social-loader *ngIf="loading"></app-eu-social-loader> -->
<app-eu-loader *ngIf="loading"></app-eu-loader>

<div class="p-6 min-h-screen">

  <!-- Header -->
  <h2 class="text-[16px] font-medium mb-6 font-ibm text-[#0054AC]">
    Create/View Users
  </h2>
  <div class="grid grid-cols-3 mb-[60px]">
    <ng-select [items]="users" bindLabel="label" bindValue="value" [(ngModel)]="selectedUser"
      (change)="onUserSelect($event)" (clear)="onClearUser()" [clearable]="true" [searchable]="true"
      [placeholder]="!selectedUser ? 'Select User' : ''" class="custom-ng-select">
    </ng-select>
  </div>

  <!-- Contact Info -->
  <h3 class="font-ibm text-[16px] text-[#525252] mb-4">Contact Info</h3>

  <!-- Form Grid -->
  <div class="grid grid-cols-3 gap-10 mb-[30px]">

    <!-- Full Name -->
    <div>
      <input #firstInput type="text" [(ngModel)]="formData.name" (ngModelChange)="onFieldChange()"
        placeholder="Placeholder text"
        class="px-4 w-full border-b border-[#161616] placeholder-[#A8A8A8] text-[#161616] focus:outline-none font-ibm py-3 text-[14px] bg-transparent" />
      <label class="text-[12px] text-[#6F6F6F] font-ibm mt-1 block">Full Name</label>
      <p *ngIf="isSubmitted && !formData.name" class="text-red-500 text-sm mt-1">
        Name is required
      </p>
    </div>

    <!-- Phone -->
    <div>
      <input type="text" [(ngModel)]="formData.phone_number" placeholder="Placeholder text"
        class="px-4 w-full border-b border-[#161616] placeholder-[#A8A8A8] text-[#161616] focus:outline-none font-ibm py-3 text-[14px] bg-transparent" />
      <label class="text-[12px] text-[#6F6F6F] font-ibm mt-1 block">Phone Number</label>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-10 mb-[30px]">
    <!-- Address -->
    <div>
      <input type="text" [(ngModel)]="formData.address" (ngModelChange)="onFieldChange()"
        placeholder="*Placeholder text"
        class="px-4 w-full border-b border-[#161616] placeholder-[#A8A8A8] text-[#161616] focus:outline-none font-ibm py-3 text-[14px] bg-transparent" />
      <label class="text-[12px] text-[#6F6F6F] font-ibm mt-1 block">Address</label>
      <p *ngIf="isSubmitted && !formData.address" class="text-red-500 text-sm mt-1">
        Address is required
      </p>
    </div>

    <!-- Email -->
    <div class="relative">
      <!-- <input type="email" [(ngModel)]="formData.email" (ngModelChange)="onFieldChange()" placeholder="*Placeholder text"
        class="px-4 w-full border-b border-[#161616] placeholder-[#A8A8A8] text-[#161616] focus:outline-none font-ibm py-3 text-[14px] bg-transparent" /> -->
      <input type="text" [ngModel]="formData.email?.split('@')[0]"
        (ngModelChange)="formData.email = $event; onFieldChange()"
        class="flex-1 px-2 py-3 focus:outline-none bg-transparent" placeholder="username" />
      <span class="text-gray-500 pr-2 absolute top-[10px]">@{{ slug }}.com</span>
      <label class="text-[12px] text-[#6F6F6F] font-ibm mt-1 block">Email</label>
      <p *ngIf="isSubmitted && !formData.email" class="text-red-500 text-sm mt-1">
        Email is required
      </p>
      <p *ngIf="emailFormatError" class="text-red-500 text-sm mt-1">
        Invalid email format
      </p>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-10 mb-[30px]">

    <!-- Username -->
    <div>
      <input type="text" [(ngModel)]="formData.username" (ngModelChange)="onFieldChange()"
        placeholder="Placeholder text"
        class="px-4 w-full border-b border-[#161616] placeholder-[#A8A8A8] text-[#161616] focus:outline-none font-ibm py-3 text-[14px] bg-transparent" />
      <label class="text-[12px] text-[#6F6F6F] font-ibm mt-1 block">Username</label>
      <p *ngIf="isSubmitted && !formData.username" class="text-red-500 text-sm mt-1">
        Username is required
      </p>
    </div>

    <!-- Password -->
    <div class="relative">

      <!-- Label + Eye -->
      <div class="flex gap-1 items-center absolute left-[13px] top-[-10px]">

        <label class="text-[12px] text-[#6F6F6F] font-ibm px-1">
          Password
        </label>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="16" height="16" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply" />
          <rect width="16" height="16" fill="white" fill-opacity="0.01" style="mix-blend-mode:multiply" />
          <path
            d="M8 1C6.61553 1 5.26216 1.41054 4.11101 2.17971C2.95987 2.94888 2.06266 4.04213 1.53285 5.32122C1.00303 6.6003 0.86441 8.00776 1.13451 9.36563C1.4046 10.7235 2.07129 11.9708 3.05026 12.9497C4.02922 13.9287 5.2765 14.5954 6.63437 14.8655C7.99224 15.1356 9.3997 14.997 10.6788 14.4672C11.9579 13.9373 13.0511 13.0401 13.8203 11.889C14.5895 10.7378 15 9.38447 15 8C15 6.14348 14.2625 4.36301 12.9497 3.05025C11.637 1.7375 9.85652 1 8 1ZM8 14C6.81332 14 5.65328 13.6481 4.66658 12.9888C3.67989 12.3295 2.91085 11.3925 2.45673 10.2961C2.0026 9.19974 1.88378 7.99334 2.11529 6.82946C2.3468 5.66557 2.91825 4.59647 3.75736 3.75736C4.59648 2.91824 5.66558 2.3468 6.82946 2.11529C7.99335 1.88378 9.19975 2.0026 10.2961 2.45672C11.3925 2.91085 12.3295 3.67988 12.9888 4.66658C13.6481 5.65327 14 6.81331 14 8C14 9.5913 13.3679 11.1174 12.2426 12.2426C11.1174 13.3679 9.5913 14 8 14Z"
            fill="#525252" />
          <path
            d="M8 12.5C8.41422 12.5 8.75 12.1642 8.75 11.75C8.75 11.3358 8.41422 11 8 11C7.58579 11 7.25 11.3358 7.25 11.75C7.25 12.1642 7.58579 12.5 8 12.5Z"
            fill="#525252" />
          <path
            d="M8.5 4H7.75C7.45434 3.99934 7.16147 4.05709 6.88819 4.16993C6.61491 4.28277 6.36661 4.44848 6.15754 4.65754C5.94848 4.8666 5.78277 5.1149 5.66993 5.38818C5.55709 5.66146 5.49934 5.95434 5.5 6.25V6.5H6.5V6.25C6.5 5.91848 6.6317 5.60054 6.86612 5.36612C7.10054 5.1317 7.41848 5 7.75 5H8.5C8.83152 5 9.14947 5.1317 9.38389 5.36612C9.61831 5.60054 9.75 5.91848 9.75 6.25C9.75 6.58152 9.61831 6.89946 9.38389 7.13388C9.14947 7.3683 8.83152 7.5 8.5 7.5H7.5V9.75H8.5V8.5C9.09674 8.5 9.66904 8.26295 10.091 7.84099C10.5129 7.41903 10.75 6.84674 10.75 6.25C10.75 5.65326 10.5129 5.08097 10.091 4.65901C9.66904 4.23705 9.09674 4 8.5 4Z"
            fill="#525252" />
        </svg>
      </div>

      <!-- Input -->

      <div class="relative">
        <input [(ngModel)]="formData.password" (ngModelChange)="onFieldChange()"
          [type]="showPassword ? 'text' : 'password'" value="password123"
          class="px-4 w-full border-b border-[#161616] placeholder-[#A8A8A8] text-[#161616] focus:outline-none font-ibm py-3 text-[14px] bg-transparent" />
        <!-- Eye Button -->
        <button type="button" (click)="togglePassword()"
          class="text-[#525252] absolute right-3 bottom-[5px] transform -translate-y-1/2">

          <!-- Eye Open -->
          <svg *ngIf="!showPassword" width="16" height="16" viewBox="0 0 24 24" fill="none">
            <path d="M12 5C7 5 3 12 3 12C3 12 7 19 12 19C17 19 21 12 21 12C21 12 17 5 12 5Z" stroke="currentColor"
              stroke-width="1.5" />
            <circle cx="12" cy="12" r="3" stroke="currentColor" stroke-width="1.5" />
          </svg>

          <!-- Eye Closed -->
          <svg *ngIf="showPassword" width="16" height="16" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M2 2L22 22" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <path
              d="M6.71277 6.7226C3.66479 8.79527 2 12 2 12C2 12 5.63636 19 12 19C14.0503 19 15.8174 18.2734 17.2711 17.2884M11 5.05822C11.3254 5.02013 11.6588 5 12 5C18.3636 5 22 12 22 12C22 12 21.3082 13.3317 20 14.8335"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M14 14.2362C13.4692 14.7112 12.7684 15.0001 12 15.0001C10.3431 15.0001 9 13.657 9 12.0001C9 11.1764 9.33193 10.4303 9.86932 9.88818"
              stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>

        </button>
        <p *ngIf="isSubmitted && !formData.password" class="text-red-500 text-sm mt-1">
          Password is required
        </p>
      </div>



    </div>
  </div>

  <div class="grid grid-cols-3 gap-10 mb-[30px]">
    <!-- Confirm Password -->
    <div class="relative">

      <div class="flex gap-1 items-center absolute left-[13px] top-[-10px]">
        <label class="text-[12px] text-[#6F6F6F] font-ibm px-1">
          Confirm Password
        </label>
      </div>

      <div class="relative">
        <input [(ngModel)]="formData.password_confirm" (ngModelChange)="onFieldChange()"
          [type]="showPassword ? 'text' : 'password'"
          class="px-4 w-full border-b border-[#161616] placeholder-[#A8A8A8] text-[#161616] focus:outline-none font-ibm py-3 text-[14px] bg-transparent" />
        <p *ngIf="isSubmitted && !formData.password_confirm" class="text-red-500 text-sm mt-1">
          Confirm password is required
        </p>
        <p *ngIf="passwordMismatch" class="text-red-500 text-sm mt-1">
          Passwords do not match
        </p>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-10 mb-[30px]">

    <!-- Job Position Dropdown -->
    <div>
      <label class="text-[12px] text-[#6F6F6F] font-ibm mt-1 block">Job Position</label>

      <select [(ngModel)]="formData.job_position_id" (ngModelChange)="onFieldChange()"
        class="w-full border-b border-[#161616] py-2 text-sm bg-transparent focus:outline-none">
        <option *ngFor="let job of jobPositions" [ngValue]="job.value">
          {{ job.label }}
        </option>
      </select>
      <p *ngIf="isSubmitted && !formData.job_position_id" class="text-red-500 text-sm mt-1">
        Job position is required
      </p>
    </div>

    <!-- Location Dropdown -->
    <div>
      <label class="text-[12px] text-[#6F6F6F] font-ibm mt-1 block">Location</label>

      <select [(ngModel)]="formData.location_id" (ngModelChange)="onFieldChange()"
        class="w-full border-b border-[#161616] py-2 text-sm bg-transparent focus:outline-none">
        <option *ngFor="let loc of locations" [ngValue]="loc.value">
          {{ loc.label }}
        </option>
      </select>
      <p *ngIf="isSubmitted && !formData.location_id" class="text-red-500 text-sm mt-1">
        Location is required
      </p>
    </div>
  </div>

  <!-- Availability -->
  <div class="mt-10">
    <label class="text-sm text-gray-600">Availability</label>

    <div class="flex mt-3 flex-wrap">

      <button *ngFor="let day of availabilityDays" (click)="selectDay(day)" class="px-3 py-2 transition" [ngClass]="
        selectedDays.includes(day)
          ? 'bg-white border-t-2 border-[#0069D7] text-[#161616] font-semibold font-ibm text-[11px]'
          : 'bg-gray-200 border-r border-[#8d8d8d] text-[#525252] text-[11px] font-regular border border-transparent'
      ">
        {{ day }}
      </button>
    </div>
  </div>

  <!-- Footer Buttons -->
  <div class="flex justify-end gap-3 mt-16">

    <button class="px-6 py-2 border border-red-500 text-red-500" (click)="openModal('delete')">
      Delete
    </button>

    <button class="px-6 py-2 border border-blue-500 text-blue-500" (click)="openModal('exit')">
      Cancel
    </button>

    <button class="px-6 py-2 bg-gray-300 text-gray-600" (click)="openModal('save')">
      Save
    </button>
  </div>

  <!-- Modal -->
  <div *ngIf="isModalOpen" class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
    <div class="bg-white border border-[#0054AC] border-l-[5px] p-6 w-[400px]">
      <h2 class="text-lg font-semibold mb-4">
        {{ modalMessage }}
      </h2>

      <div class="flex justify-end gap-3">

        <button class="px-4 py-2 border border-gray-400" (click)="closeModal()">
          Cancel
        </button>

        <button class="px-4 py-2 bg-blue-500 text-white" (click)="confirmAction()">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
