 <ng-container *ngIf="isLoading">
    <app-eu-loader></app-eu-loader>
  </ng-container>

<div class="bg-gray-100 p-4 flex flex-col justify-between">

  <!-- Loader -->
  <!-- <div *ngIf="isLoading" class="fixed inset-0 bg-white/50 flex items-center justify-center z-50">
    <div class="text-blue-600 text-lg">Loading...</div>
  </div> -->

  <!-- Top Section -->
  <div>

    <!-- Header -->
    <div class="grid grid-cols-3 gap-x-12 gap-y-6 mb-[60px] items-center">

      <!-- Dropdown -->
      <div>
        <label class="text-[16px] font-medium mb-6 font-ibm text-[#0054AC] block">
          Create/View Job Positions
        </label>

        <select [(ngModel)]="selectedJobId" (change)="onSelectJob()"
          class="w-full border-b border-gray-400 bg-transparent outline-none text-sm py-1 cursor-pointer">
          <option [ngValue]="null" disabled>Choose an option</option>

          <option *ngFor="let job of jobPositions" [ngValue]="job.id">
            {{ job.name }}
          </option>
        </select>
      </div>

      <div></div>

      <!-- Reset Button -->
      <div class="text-right">
        <button (click)="resetForm()" class="bg-orange-600 text-white px-4 py-2 text-sm">
          Create New
        </button>
      </div>

    </div>

    <!-- Input -->
    <div class="grid grid-cols-3 gap-x-12 gap-y-6">
      <div class="mb-6">
        <input type="text" [(ngModel)]="jobTitle" placeholder="Enter Job Title"
          class="border border-blue-500 px-3 w-full placeholder-[#A8A8A8] text-[#161616] focus:outline-none py-3 text-[14px] bg-transparent" />
        <p class="text-xs text-gray-400 mt-1">Job Position Field</p>
      </div>
    </div>

    <!-- Permissions -->
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">

      <!-- MODULE CARD -->
      <div *ngFor="let group of groupedPermissions | keyvalue"
        class="bg-white border border-gray-200 rounded-3xl p-5 shadow-sm hover:shadow-xl transition-all duration-300">

        <!-- Header -->
        <div class="flex items-start justify-between mb-6">

          <div>

            <h3 class="text-[17px] font-semibold text-[#111827] capitalize tracking-wide">
              {{ ($any(group.key)).replace('-', ' ') }}
            </h3>

            <p class="text-[12px] text-gray-500 mt-1">
              Manage module permissions
            </p>
          </div>
        </div>

        <!-- TOGGLES -->
        <div class="space-y-4">

          <div *ngFor="let perm of $any(group.value)"
            class="flex items-center justify-between rounded-2xl border border-gray-100 bg-gray-50 px-4 py-3 transition-all duration-200 hover:border-gray-300 hover:bg-white">

            <!-- Permission Name -->
            <div>

              <h4 class="text-[14px] font-semibold text-[#111827] capitalize">
                {{ perm.name.split('-')[0] }}
              </h4>

              <p class="text-[11px] text-gray-500 mt-0.5">
                Allow user to {{ perm.name.split('-')[0] }}
              </p>

            </div>

            <!-- Toggle -->
            <label class="relative inline-flex items-center cursor-pointer">

              <input type="checkbox" class="sr-only peer" [checked]="selectedPermissions.includes(perm.id)"
                (change)="onPermissionChange($event, perm.id)" />

              <!-- Toggle Background -->
              <div class="w-12 h-7 bg-gray-300 rounded-full peer transition-all duration-300

                   peer-checked:bg-[#fe9015]

                   after:content-['']
                   after:absolute
                   after:top-[2px]
                   after:left-[2px]
                   after:bg-white
                   after:border
                   after:border-gray-200
                   after:rounded-full
                   after:h-6
                   after:w-6
                   after:transition-all
                   after:duration-300

                   peer-checked:after:translate-x-5
                   peer-checked:after:border-white
                   shadow-sm">
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>


    <!-- Validation -->
    <div *ngIf="permissionsTouched && selectedPermissions.length === 0"
      class="mt-4 flex items-center gap-2 text-red-500 text-sm font-medium">

      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">

        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 8v4m0 4h.01M5.07 19h13.86c1.54 0 2.5-1.67 1.73-3L13.73 4c-.77-1.33-2.69-1.33-3.46 0L3.34 16c-.77 1.33.19 3 1.73 3z" />

      </svg>

      <span>
        Please select at least one permission
      </span>

    </div>
  </div>

  <!-- Bottom Buttons -->
  <div class="flex justify-end gap-3 mt-10">

    <button (click)="deleteJob()" class="border border-red-400 text-red-500 px-6 py-2 text-sm">
      Delete
    </button>

    <button (click)="resetForm()" class="border border-blue-400 text-blue-500 px-6 py-2 text-sm">
      Cancel
    </button>

    <button (click)="saveJob()" class="bg-blue-600 text-white px-6 py-2 text-sm">
      Save
    </button>

  </div>

</div>
