<div class="p-6">

  <!-- TITLE -->
  <h2 class="text-[20px] font-semibold mb-4">Location Management</h2>

  <!-- FORM -->
  <form [formGroup]="locationForm" (ngSubmit)="submit()" class="">

    <div class="grid grid-cols-3 gap-10 mb-[30px]">
      <!-- NAME -->
      <div>
        <div class="">
          <label class="text-[12px] text-[#6F6F6F] font-ibm mt-1 block">Name<span class="text-red-500 text-[12px]">*</span></label>
          <input type="text" formControlName="name"
            class="w-full border-b border-[#161616] placeholder-[#A8A8A8] text-[#161616] focus:outline-none font-ibm py-3 text-[14px] bg-transparent">
        </div>

        <div *ngIf="locationForm.get('name')?.touched && locationForm.get('name')?.invalid"
          class="text-red-500 mt-1 text-[11px] font-ibm">
          Name is required
        </div>
      </div>

      <!-- COUNTRY -->
      <div>
        <div class="">
          <label class="text-[12px] text-[#6F6F6F] font-ibm mt-1 block">Country<span class="text-red-500 text-[12px]">*</span></label>

          <select formControlName="country_id"
            class="w-full border-b border-[#161616] placeholder-[#A8A8A8] text-[#161616] focus:outline-none font-ibm py-3 text-[14px] bg-transparent">
            <option [ngValue]="null">Select Country</option>
            <option *ngFor="let c of countries" [ngValue]="c.id">
              {{ c.name }}
            </option>
          </select>
        </div>
        <div *ngIf="locationForm.get('country_id')?.touched && locationForm.get('country_id')?.invalid"
          class="text-red-500 mt-1 text-[11px] font-ibm">
          Country is required
        </div>
      </div>

    </div>

    <div class="grid grid-cols-3 gap-10 mb-[30px]">
      <!-- STATE -->
      <div>
        <div class="">
          <label class="text-[12px] text-[#6F6F6F] font-ibm mt-1 block">State<span class="text-red-500 text-[12px]">*</span></label>

          <select formControlName="state_id"
            class="w-full border-b border-[#161616] placeholder-[#A8A8A8] text-[#161616] focus:outline-none font-ibm py-3 text-[14px] bg-transparent">
            <option [ngValue]="null">Select State</option>
            <option *ngFor="let s of states" [ngValue]="s.id">
              {{ s.name }}
            </option>
          </select>
        </div>
        <div *ngIf="locationForm.get('state_id')?.touched && locationForm.get('state_id')?.invalid"
          class="text-red-500 mt-1 text-[11px] font-ibm">
          State is required
        </div>
      </div>

      <!-- CITY -->
      <div>
        <div class="">
          <label class="text-[12px] text-[#6F6F6F] font-ibm mt-1 block">City<span class="text-red-500 text-[12px]">*</span></label>

          <select formControlName="city_id"
            class="w-full border-b border-[#161616] placeholder-[#A8A8A8] text-[#161616] focus:outline-none font-ibm py-3 text-[14px] bg-transparent">
            <option [ngValue]="null">Select City</option>
            <option *ngFor="let c of cities" [ngValue]="c.id">
              {{ c.name }}
            </option>
          </select>
        </div>
        <div *ngIf="locationForm.get('city_id')?.touched && locationForm.get('city_id')?.invalid"
          class="text-red-500 mt-1 text-[11px] font-ibm">
          City is required
        </div>
      </div>

    </div>

    <div class="grid grid-cols-3 gap-10 mb-[30px]">
      <!-- POSTAL -->
      <div>
        <div class="">
          <label class="text-[12px] text-[#6F6F6F] font-ibm mt-1 block">Postal Code<span class="text-red-500 text-[12px]">*</span></label>
          <input type="text" formControlName="postalCode"
            class="w-full border-b border-[#161616] placeholder-[#A8A8A8] text-[#161616] focus:outline-none font-ibm py-3 text-[14px] bg-transparent">
        </div>

        <div *ngIf="locationForm.get('postalCode')?.touched && locationForm.get('postalCode')?.invalid"
          class="text-red-500 mt-1 text-[11px] font-ibm">

          <span *ngIf="locationForm.get('postalCode')?.errors?.['required']">
            Postal code is required
          </span>

          <span *ngIf="locationForm.get('postalCode')?.errors?.['pattern']">
            Only numbers are allowed
          </span>

        </div>
      </div>

      <!-- LATITUDE -->
      <div>
        <div class="">
          <label class="text-[12px] text-[#6F6F6F] font-ibm mt-1 block">Latitude</label>
          <input type="text" formControlName="latitude"
            class="w-full border-b border-[#161616] placeholder-[#A8A8A8] text-[#161616] focus:outline-none font-ibm py-3 text-[14px] bg-transparent">
        </div>

        <div *ngIf="locationForm.get('latitude')?.touched && locationForm.get('latitude')?.invalid"
          class="text-red-500 mt-1 text-[11px] font-ibm">
          Enter valid decimal number
        </div>
      </div>
    </div>


    <div class="grid grid-cols-3 gap-10 mb-[30px]">
      <!-- LONGITUDE -->
      <div>
        <div class="">
          <label class="text-[12px] text-[#6F6F6F] font-ibm mt-1 block">Longitude</label>
          <input type="text" formControlName="longitude"
            class="w-full border-b border-[#161616] placeholder-[#A8A8A8] text-[#161616] focus:outline-none font-ibm py-3 text-[14px] bg-transparent">
        </div>

        <div *ngIf="locationForm.get('longitude')?.touched && locationForm.get('longitude')?.invalid"
          class="text-red-500 mt-1 text-[11px] font-ibm">
          Enter valid decimal number
        </div>
      </div>
    </div>


    <!-- ADDRESS -->
     <div class="grid grid-cols-3 gap-10">
        <div class="">
          <label class="text-[12px] text-[#6F6F6F] font-ibm mt-1 block">Address</label>
          <textarea formControlName="address"
            class="w-full border-b border-[#161616] placeholder-[#A8A8A8] text-[#161616] focus:outline-none font-ibm py-3 text-[14px] bg-transparent resize-none"></textarea>
        </div>
    </div>


    <!-- BUTTONS -->
    <div class="flex justify-end gap-3 mt-5">
      <button type="submit" class="bg-blue-600 text-white px-6 py-2 text-sm">
        {{ selectedId ? 'Update' : 'Save' }}
      </button>
    </div>

  </form>
</div>
