<!-- pre-loader.component.html -->
<div class="preloader fixed inset-0 z-50 flex items-center justify-center bg-white bg-opacity-1">
  <div class="relative flex flex-col items-center justify-center">
    <!-- Glowing Ring -->
    <div class="glow-ring absolute w-32 h-32 rounded-full border-4 border-[#fe9015] border-t-transparent animate-spin-slow"></div>

    <!-- Loader Image -->
    <img src="assets/loader_logo_3.png" class="w-18 h-24 relative z-10 animate-pulse" alt="Loading..." />
  </div>
</div>
