<div class="grid grid-cols-3 gap-4">

  <!-- LEFT SIDE: FORM PREVIEW -->
  <div>

    <ng-container *ngIf="moduleName === 'users'">

      <div cdkDropList id="userFormDropZone" [cdkDropListData]="builderSchema"
        (cdkDropListDropped)="onUserDrop($event)">

        <app-setup-user [schema]="builderSchema" (selectField)="onSelectField($event)">
        </app-setup-user>

      </div>

    </ng-container>

    <ng-container *ngIf="moduleName === 'vendors'">
      <app-setup-vendors></app-setup-vendors>
    </ng-container>

    <ng-container *ngIf="moduleName === 'job-position'">
      <app-setup-job-position></app-setup-job-position>
    </ng-container>

  </div>

  <!-- MIDDLE: FIELD BUILDER -->
  <div>
    <app-builder (schemaChange)="onSchemaChange($event)">
    </app-builder>
  </div>

  <!-- RIGHT SIDE: FIELD SETTINGS -->
  <div>
    <app-field-settings *ngIf="selectedField"
      [field]="selectedField"
      (update)="updateField($event)">
    </app-field-settings>
  </div>

</div>
