<div class="p-6 font-ibm">

  <ng-container *ngIf="isLoading">
    <app-eu-loader></app-eu-loader>
  </ng-container>

  <h2 class="text-xl font-bold mb-4">
    Forms
  </h2>

  <div *ngIf="errorMessage" class="mb-4 text-red-600 text-sm">
    {{ errorMessage }}
  </div>

  <div class="bg-white rounded shadow overflow-hidden mt-5">
    <table *ngIf="!isLoading && !errorMessage" class="w-full text-left text-sm font-ibm">

      <thead class="bg-gray-200 text-gray-700">
        <tr>
          <th class="px-4 py-3">Module</th>
          <th class="px-4 py-3 text-right">Action</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let module of modules" class="border-b hover:bg-gray-50">

          <td class="px-4 py-3">
            {{ module.name }}
          </td>

          <td class="px-4 py-3 text-right flex justify-end gap-2">

            <button [routerLink]="[module.module.slug]" class="text-blue-600 hover:text-blue-900">
              <!-- <button (click)="edit(p.id)" class="text-blue-600 hover:text-blue-900"> -->

                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5">

                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                  </svg>

                <!-- </button> -->
            </button>


          </td>

        </tr>

      </tbody>

    </table>
  </div>

  <div *ngIf="!isLoading && !errorMessage && modules.length === 0" class="text-center py-10 text-gray-400 text-sm">
    No forms found
  </div>

</div>
